<img style="float:left" src="{{cat.image}}" alt="profile-image" id="cat-img">
<h1>Kitty name: {{cat.name}}</h1>
<p>{{cat.name}}'s ID: {{cat._id}}</p>
<p>{{cat.name}}'s age: {{cat.age}}</p>
<p>Is {{cat.name}} single? {{cat.isSingle}}</p>
<p>Owned by: {{cat.owner.name}}</p>